@inherits LayoutComponentBase
@using System;
@using System.Timers;

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <nav class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="nav-link ml-md-auto">About</a>
        <div class="nav-link">@CurDate.ToLongDateString()</div>
    </nav>

    <div class="content px-.4">
        @Body
    </div>
</div>

@code {

    DateTime CurDate = DateTime.Now;

}
